/* Home page Responsive */
@media (max-width: 1199.98px) {
      .service-container {
            grid-template-columns: repeat(2, 1fr);
      }

      .tabs {
            width: 45%;
      }

}

@media (max-width: 991.98px) {
      .service-container {
            top: -40px;
      }

      .offer-container {
            flex-direction: column;
      }

      .home-category {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .mobile-item {
                  width: 100%;
            }

            .watch-item {
                  width: 100%;

                  .watch-mg,
                  .gold-mg {
                        height: auto;
                  }

            }

            .cosmetic-item {
                  width: 100%;
            }
      }


}

@media (max-width: 767.98px) {
      .hero-container {
            flex-direction: column;
            gap: 20px;
            align-items: center;
      }

      .service-container {
            grid-template-columns: repeat(2, 1fr);
      }

      .tabs {
            display: none;
      }

      .dropdown {
            display: block;
      }
      .wrapper-about{
            margin-right: 20%;
      }
}

@media (max-width:680px) {
      .service-container {
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
            align-content: center;

            div {

                  h5,
                  p {
                        margin: 0;
                        white-space: wrap;
                  }
            }
      }

      .left-box,
      .right-box {
            flex-direction: column;

      }
}
























@media (max-width:420px) {}

@media (max-width:768px) {}


@media (max-width:1170px) {}