footer{
            background-color: var(--color-text-primary);
            display: flex;
            gap: 20px;
            padding: 16px 60px;
            color: var(--color-text-secondary);
            margin: auto;
            .content{
                  flex-grow: 1;
                  flex-basis: 200px;
                  font-size: var(--font-size-small);
            }
            .item{
                  display: flex;
                  flex-direction: column;
                  a{
                        text-decoration: none;
                        color: var(--color-text-secondary);
                  }
            }
}